<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="navbar_holder">
      <svg xlmns="http://www.w3.org/2000/svg" width="108" height="23" viewBox="72 72 337 74" preserveAspectRatio="xMidYMin slice"></svg>
      <ul class="navlinks">
        <li><a class="login_button" href="/login" >Sign in</a></li>
      </ul>
    </div>
    Sign In
    <ul>
      <li><a href="/login-MS" >Sign in with Microsoft</a></li>
      <li><a href="/login-Google" >Sign in with Google</a></li>
      <li><a href="/">Go back to Home Page</a></li>
    </ul>
    <div class="footer_holder">
      <ul class="footer_links">
        <li><a class="footer_link" href="/privacyNotice" >Privacy Notice</a></li>
        <li><a class="footer_link" href="/termsOfService" >Terms of Service</a></li>
        <li><a class="footer_link" href="/deleteAcc" >How to Delete your Account</a></li>
        <li>© Microsoft 2023</li>
      </ul>
    </div>
  </body>
</html>
