<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="unauthorizedBody">
      <div class="unauthorizedHeader">
        <h1 class="unauthorizedTitle">Access Denied</h1>
        <div></div>
      </div>
      <div class="errorContainer">
        <span class="unauthorizedUsername"><%= user %></span>
        does not have permissions to access this resource.
      </div>
    </div>
  </body>
</html>
